.main-title {
    margin-bottom: 80px;
}

.contact__wrapp {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

.contact__side {
    width: 575px;
}

.contact__left-side {
    height: 575px;
    background-color: #FAFAFA;
    padding: 74px;
    font-family: 'Montserrat', sans-serif;
}

.contact__right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact__img {
    height: 277px;
    background-color: #FAFAFA;
    background-size: cover;
    background-position: top;
}

.contact__img1 {
    background-image: url('../img/photo1.webp');
}

.contact__img2 {
    background-image: url('../img/photo.webp');
}

.contact__name {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 16px;
}

.contact__text {
    line-height: 26px;
    margin-bottom: 60px;
}

.contact__social-title {
    opacity: 0.5;
    margin-bottom: 16px;
}

.contact__social-item {
    margin-bottom: 14px;
}

.contact__social-item > i {
    opacity: 1;
}

.contact__socila-telegram {
    width: 15px;
}

.contact__social-item:last-child {
    margin-bottom:0;
}

.contact__social-item > a {
    margin-left: 5px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    transition: 0.3s;
    font-size: 14px;
}

.contact__social-item a:hover {
    color: #ED3551;
}

.contact__btn-meet {
    padding: 16px 30px;
    margin-top: 40px;
}


.modal__body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 100px;
    max-height: 770px;
    overflow: auto;
}

.modal__title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 40px;
}

.modal__text {
    white-space: pre-line;
    margin-bottom: 100px;
    line-height: 28px;
}

.modal__text > span {
    color: #ED3551;
}

.modal__body > .container-btn {
    justify-content: center;
}

.modal__btn-write {
    padding: 16px 30px;
    text-decoration: none;
}

.modal__btn-write:hover {
    color: #f7db00;
}



@media screen and (max-width:1200px) {
    .contact__side {
        width: 49%;
    }

    .contact__left-side {
        height: auto;
        margin-right: 1%;
    }

    .contact__img {
        height: 49%;
    }
}

@media screen and (max-width:940px) {
    .main-title {
        margin-bottom: 50px;
    }

    .contact__wrapp {
        flex-direction: column-reverse;
    }

    .contact__side {
        width: 100%;
    }

    .contact__left-side {
        margin-right: 0;
    }

    .contact__right-side {
        flex-direction: row;
    }

    .contact__img {
        height: 400px;
        width: 49%;
        margin-bottom: 2%;
    }

    .contact__img:first-child {
        margin-right: 1%;
    }

}

@media screen and (max-height:600px) {
     .modal {
        display: block;
    }

    .modal__body {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width:640px) {

    .modal {
        display: block;
    }

    .modal__body {
        background-color: rgba(255, 255, 255, 0);
    }

    .modal__btn-close {
        top: auto;
        bottom: 40px;
    }
    
    .contact__wrapp {
        text-align: center;
    }

    .contact__left-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 20px;
    }

    .contact__img {
        height: auto;
    }

    .contact__img > div {
        padding-top: 100%;
    }

    .contact__img1 {
        background-position: 0;
    }
    
    .contact__img2 {
        background-position: top;
    }

    .modal__body {
        padding: 50px 20px;
    }

    .modal__text {
        margin-bottom: 50px;
    }
}

